html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  //height: 100%;
}
// font style and size
html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 10rem;
}

// background animation and styling
.background {
  animation: slide 3s ease-in-out infinite alternate;
  // original colors: #6c3 & #09f
  background-image: linear-gradient(
    -60deg,
    rgb(235, 70, 95) 50%,
    rgba(0, 17, 248, 0.849) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.75;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
.background2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}
.background3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

// content styling
.container {
  width: 80rem;
  max-width: 80%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 1rem 0.2rem;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 2rem 0;
  padding-bottom: 0rem;
}

.btn {
  background-color: rgba(0, 17, 248, 0.849);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  -webkit-text-stroke-width: 0.07rem;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  outline: none;
  transition: all 0.4s ease;
}
.btn:hover {
  border-color: white;
  color: white;
  transform: scale(1.03);
}

.btn.correct {
  background-color: rgb(18, 185, 60);
}
.btn.wrong {
  background-color: rgb(235, 70, 95);
}

.btn-grid .btn {
  font-size: 2.25rem;
}

.start-btn,
.next-btn,
.end-btn,
.restart-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  width: 20rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.hide {
  display: none;
}

.score {
  font-size: 3rem;
}

// final screen
.final-results {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.final-results.hide {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
