html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
// font style and size
html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 10rem;
}
// makes whole background green or red based on answer choice
/*
body.correct {
  background-color: lightgreen;
}
body.wrong {
  background-color: rgb(240, 122, 140);
}
*/
.container {
  width: 80rem;
  max-width: 80%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 1rem 0.2rem;
}

.final-results {
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 2rem 0;
  padding-bottom: 0rem;
}

.btn {
  background-color: rgba(173, 216, 230, 0.75);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: black;
  outline: none;
}
.btn:hover {
  border-color: white;
}

.btn.correct {
  background-color: lightgreen;
}
.btn.wrong {
  background-color: rgb(240, 122, 140);
}

.btn-grid .btn {
  font-size: 1.5rem;
}

.start-btn,
.next-btn,
.end-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  width: 20rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.hide {
  display: none;
}

.score {
  font-size: 3rem;
}
